@import "variables";

// Media query para dispositivos móviles
@media only screen and (max-width: 767px) {   
 
  main {  
    .carrusel{
      margin: 0;
    }

  .principal {
    @include flex-center;  
    margin: 30px 20px 40px 20px;
    border-radius: 5%;
    flex-direction: column-reverse;
      
    .video-container {   
     margin: 0 auto;

      video {  
        width: 250px;
      }
    }
    .text-container { 
      margin: auto;      
      h2 {
        font-size: 28px; // Tamaño ajustado para dispositivos móviles       
      }
      p {
        font-size: 16px; // Tamaño ajustado para dispositivos móviles
      }
    }
  }
  .productos {
    @include flex-center;  
    flex-direction: column;  
  }


.video-formulario{
  @include flex-center;  
  flex-direction: column-reverse;  

  .formulario-diseño{
    margin: 0 auto;
    width: 100%;
  }

  .video-sticker{ 
      
    video{      
      width: 350px;
      border-radius: 15%; 
      margin: 0;           
    }
    
  }
}
}
}